.site-heading {
  font-family: 'Caveat', cursive; 
  /* font-weight: 70; */
  float: left;
  font-size: 50px;
  padding-right: 80px;
  margin-top: 200px;

}

/* .header{
  font-weight: 800;
  font-family: poppins;
} */
body{
  background-color: white;
}

.hed1{
  
  font-size: 3em;
  margin: 30px auto;
  padding: 10px;
}
.mind{
  background-color: #EFB9B9;
  height: 40vh;
  border: none;
  padding: 20px;
  font-family: serif;
  
}
.diet{
  background-color:#EFB9B9;
  height: 40vh;
  border: none;
  padding: 20px;
  font-family: serif;
 
}
.cont1{
  margin-bottom: 50px;
}

nav{
  background-color: #EFB9B9;
}

.postt{
  background-color: #EFB9B9;
  border-radius: 45px;
  margin-top: 50px;
  padding: 20px;
  font-weight: 700;
  
}
a{
  text-decoration: none;
}