{% extends 'base.html'%} 
{% block content%}
<h1 class="header text-center">Health</h1>

<div class="card container ">
    <div class="card-body">
      <h5 class="card-title hed1">
        “Our Food Should Be Our Medicine && Our Medicine Should Be Our Food”</h5>
    </div>



    <div class="container cont1">
        <div class="row">
         
          <div class="col-md-5 mind">
             <h1 class="header text-center">Mind and Body</h1>

             <p>The mind and body are said to be two different entities that have different characteristics. Many have argued that each holds its own properties and can be without the other. In my opinion, the mind and body are distinguishable in there properties but are derived from the other. The mind and body are codependent on each other and need the other in making decisions. The mind requires the body to learn, experience so as to make accurate judgments, while the body requires the mind to make its decisions for it. Without one or the other, I feel they would not be able to exist.

                The mind and the body coexist together and thrive on the other by using the others traits</p>
          </div>
          <div class="col-md-1"> </div>
          <div class="col-md-6 diet">
            <h1 class="header text-center">Diet</h1>
            <p>
                A healthy diet is a balance of being able to supply your body with the right nutrients. The five essential nutrients are proteins, fats, minerals, carbohydrates, also water and fibre. A healthy diet is crucial for maintaining the health and wellbeing of your body. Eating healthy can also aid to reduce chronic diseases such as type two Diabetes, Heart conditions and certain cancers). According to the Australian dietary guidelines One-third of Australian premature deaths from diseases have been mostly linked to obesity it also has been predicted that by 2023 type two diabetes will be Australia’s ‘biggest disease burden’. A healthy diet is fundamental to the health and fitness 
            </p>
          </div>
        </div>
      </div>
  </div>





{% endblock%}