{% extends 'base.html'%} 
{% block content%}
<div id="background">
  <style>
    #background{
      background-image: url('../static/photos/photo-1627483298235-f3bac2567c1c.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  </style>
  
  <!-- Main Content -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
  <body>
    {% block content %}
      <div class="container">
        <div class="card">
          <div class="card-body">
            <p class="card-text text-center"><br>Whether you want to tone up,build muscle, or set a new personal record, Fitness Freak can help you achieve your goal.<br>
            <br>Fitness Freak has everything you want not just for fitness, but for holistic, real-talk wellness.<br>
            <br>It’s the target of wellness apps-it has a little bit of everything.<br>
            <br>It is designed for those who frequently sit and experience tense muscles. Slower and faster-paced excercises allow your 
            body to unwind after a long working day.<br>  
            </p>
            <a href="{{url_for('auth.register')}}" class=" btn my-2 my-sm-0 card-link reg">REGISTER</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </body>