{% extends 'base.html'%} 

{% block content%}

  <!-- Main Content -->
 
  <body>
    <header class="landing"> <h1>Welcome to <br> Fitness Freak</h1></header>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h4 class="card-text text-center"><br>Whether you want to tone up,build muscle, or set a new personal record, Fitness Freak can help you achieve your goal.<br>
            <br>Fitness Freak has everything you want not just for fitness, but for holistic, real-talk wellness.<br>
            <br>Its the target of wellness apps-it has a little bit of everything.<br>
            <br>It is designed for those who frequently sit and experience tense muscles. Slower and faster-paced excercises allow your 
            body to unwind after a long working day.<br>  
            </h4>
          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </body>