{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" type="text/css">

    {% endblock %}
</head>
<body>
            <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  

        {% block content %}
       
    {% endblock %}
</body>
</html>