{% extends 'bootstrap/base.html'%}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
        {% for category in category_list %}
       
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading" style="height: 30px; padding-top: 2px; font-weight: bolder; text-transform: uppercase; color: rgb(184, 76, 37);" >
                    {{category.title}} {{category.category}}
                </div>
                <div class="panel-body" style="background-color:#faf5f5;">
                  <p style="color: black; font-size: 12px;">
                    {{category.description}}
                  </p>
             </div>                   
            </div>
        
        </div>
       
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}
