<header class="header">
  <div class="container header-nav">
    <div class="logo-box">
      <img src="" height="50">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark width=1">
      {% if current_user.is_authenticated %}
    <ul>
      <li class="nav-item"><a class="nav-link" href="/" style="font-size:15px;">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/health"  style="font-size:15px;">Health</a></li>
      <li class="nav-item"><a class="nav-link" href="/fitness"  style="font-size:15px;">Fitness</a></li>
      <li class="nav-item"><a class="nav-link" href="/nutrition"  style="font-size:15px;">Nutrition</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('auth.logout')}}" style="font-size:15px;">Sign out</a></li>

      {% else %}
      <li><a href="{{url_for('auth.login')}}" style="font-size:20px;">Log in</a></li>
   </ul>
   {%endif%}
 
  </div>
</nav>
</header>



